<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ seo-tag }}
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-precomposed.png">
  <link size="76x76" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-76x76.png">
  <link size="76x76" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-76x76-precomposed.png">
  <link size="72x72" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-72x72.png">
  <link size="72x72" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-72x72-precomposed.png">
  <link size="60x60" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-60x60.png">
  <link size="60x60" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-60x60-precomposed.png">
  <link size="57x57" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-57x57.png">
  <link size="57x57" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-57x57-precomposed.png">
  <link size="180x180" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-180x180.png">
  <link size="180x180" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-180x180-precomposed.png">
  <link size="152x152" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-152x152.png">
  <link size="152x152" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-152x152-precomposed.png">
  <link size="144x144" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-144x144.png">
  <link size="144x144" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-144x144-precomposed.png">
  <link size="120x120" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-120x120.png">
  <link size="120x120" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-120x120-precomposed.png">
  <link size="114x114" rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-114x114.png">
  <link size="114x114" rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/images/meta-icons/apple-touch-icon-114x114-precomposed.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/meta-icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/images/meta-icons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/meta-icons/favicon-16x16.png">
  <link rel="mask-icon" href="{{site.baseurl}}/assets/images/meta-icons/safari-pinned-tab.svg" color="#1e88e5">
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/meta-icons/favicon.ico">

  <script>
    if(!(window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1")) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-90014538-4', 'auto');
      ga('send', 'pageview');
    }
  </script>
</head>

<body>